.recipe-form {
    display: flex;
    justify-content: center;
    // align-content: center;
    flex-direction: column;
    width: 300px;
    margin:auto;
}

.recipe-form .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adjust the margin as needed */
}

.recipe-form label {
    flex: 0 0 120px; /* Set a fixed width for the labels */
    text-align: right;
}
