$darkest-grey: #202020;
$dark-grey: #252525;
$grey: #434343;
$light-grey: #545454;
$lightest-grey: #565656;
$white: #ffffff;
$offwhite: #cccccc;
$black: #000000;

$body-bg: $dark-grey;
$body-colour: $offwhite;
